<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".cs" #>
<#@ include file="../../../Utils/CodeGeneration/BaseTransformerTemplate.tt"#>
using Slp.Evi.Storage.Relational.Query;
using Slp.Evi.Storage.Relational.Query.Sources;
<#
    GenerateClass("Slp.Evi.Storage.Relational.Utils.CodeGeneration", @"Relational\Query\Sources\ICalculusSourceVisitor.cs", null);
#>