@model Exception

@{
    ViewBag.Title = "Application start failed";
}

<div class="alert alert-danger">
    <h4>Application start failed</h4>
    <strong>@Model.GetType().Name</strong>&nbsp; @Model.Message
</div>

