@{
    ViewBag.Title = "Graph list";
}

<script type="text/javascript">
    function write_exception(name, message) {
        $('#exception-box strong').html(name);
        $('#exception-box span').html(message);
        $('#exception-box').removeClass('hidden');
    }

    function refresh() {
        if ($('#refresh-button').hasClass('active'))
            return;

        $('#refresh-button').addClass('active');
        $('#exception-box').addClass('hidden');
        $('#results-table tbody').html('');

        $.post('@Url.Action("GetGraphList", "Json")', function (data) {
            if (data.Success == true) {
                for (var i = 0; i < data.Data.length; i++) {
                    var uriData = data.Data[i];

                    var row = $('<tr></tr>');
                    row.append($('<td>' + (i + 1) + '</td>'));
                    row.append($('<td><a href="' + uriData.Link + '">' + uriData.Uri + '</a></td>'));

                    $('#results-table tbody').append(row);
                }
            }
            else {
                write_exception(data.ExceptionName, data.ExceptionMessage);
            }

            $('#refresh-button').removeClass('active');
        }).fail(function () {
            write_exception('POST error', 'POST request failed');

            $('#refresh-button').removeClass('active');
        });


    }

    $(document).ready(function () {
        $('#refresh-button').click(function () { refresh(); });

        refresh();
    });
</script>

<div id="exception-box" class="alert alert-danger hidden">
    <h4>Refresh failed</h4>
    <strong>Exception name</strong> <span>Exception message</span>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix"></div>
        <h3 class="panel-title">Graph list <button id="refresh-button" type="button" class="btn btn-info pull-right btn-xs has-spinner"><span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>&nbsp; Refresh</button></h3>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table id="results-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>IRI</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

