@{
    ViewBag.Title = "SPARQL Query";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">SPARQL Query</h3>
    </div>
    <div class="panel-body">
        <textarea class="form-control" rows="4"></textarea>
    </div>
    <div class="panel-footer"><button type="button" class="btn btn-primary">Execute</button></div>
</div>



