<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DatabaseSchemaReader" version="2.3.1" targetFramework="net462" />
  <package id="dotNetRDF" version="1.0.12" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="r2rml4net" version="0.4.0.0-pre01" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net462" />
  <package id="VDS.Common" version="1.6.4" targetFramework="net462" />
</packages>